
.mynav {
    min-height: 5em;
    font-size: 1.25em;
    background-color: black;
}

.navgroup {
    min-width: 60%;
}

.navlink {
    color: white;
    font-weight: bolder;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}

.navlink:hover {
    color: gray !important;
}

.name {
    font-size: 2em;
    font-weight: bold;
    border: 5px solid black;
    padding: 0.5em;
}

.mycard {
    margin: 1em;
    max-width: 15em;
}

.myfoot {
    color: white;
}

.copyright {
    font-size: 0.8em;
    margin-top: 1em;
}

.abandoned {
    color: red;
}

.myicons i {
    font-size: 3em;
    color: black;
    margin: 0.5em;
}