{% extends "base.html" %}

{% block bodyblock %}
<div class="card d-flex align-items-center">
    <img
        class="card-img-top bigcard-img"
        src="{{ url_for('static', filename='images/' + project.imgfile) }}"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.long_desc }}</p>
        <a href="{{ project.github_url }}" class="card-link">GitHub Repo</a>
    </div>
</div>
{% endblock %}
